<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataInjector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DataInjector.Properties.Settings>
            <setting name="DataInjector_meteo_Service1" serializeAs="String">
                <value>http://www.meteo.estg.ipleiria.pt/webservice/service1.asmx</value>
            </setting>
            <setting name="DataInjector_NodeService_Service" serializeAs="String">
                <value>http://localhost:1300/Node/NodeService.asmx</value>
            </setting>
        </DataInjector.Properties.Settings>
    </applicationSettings>
</configuration>